.header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
}

.links {
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
}

.links li {
    list-style-type: none;
}

.links li a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #636363;
    text-decoration: none;
}