@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: normal;
    src: local('Bitter'), url('./fonts/Bitter-Regular.woff') format('woff');
}
    
@font-face {
    font-family: 'Bitter';
    font-style: italic;
    font-weight: normal;
    src: local('Bitter'), url('./fonts/Bitter-Italic.woff') format('woff');
}
    
@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: bold;
    src: local('Bitter'), url('./fonts/Bitter-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Bitter';
    font-style: italic;
    font-weight: bold;
    src: local('Bitter'), url('./fonts/Bitter-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat'), url('./fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: normal;
    src: local('Montserrat'), url('./fonts/Montserrat-Italic.woff') format('woff');
}
    
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    src: local('Montserrat'), url('./fonts/Montserrat-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: bold;
    src: local('Montserrat'), url('./fonts/Montserrat-BoldItalic.woff') format('woff');
}