/* Bitter Regular */
@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 400;
    src: local('Bitter'), url('./fonts/Bitter-Regular.woff') format('woff');
}
    
@font-face {
    font-family: 'Bitter';
    font-style: italic;
    font-weight: 400;
    src: local('Bitter'), url('./fonts/Bitter-Italic.woff') format('woff');
}
    
/* Bitter Bold */
@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 700;
    src: local('Bitter'), url('./fonts/Bitter-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Bitter';
    font-style: italic;
    font-weight: 700;
    src: local('Bitter'), url('./fonts/Bitter-BoldItalic.woff') format('woff');
}

/* Montserrat ExtraLight */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: local('Montserrat'), url('./fonts/Montserrat-ExtraLight.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 200;
    src: local('Montserrat'), url('./fonts/Montserrat-ExtraLightItalic.woff') format('woff');
}

/* Montserrat Light */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: local('Montserrat'), url('./fonts/Montserrat-Light.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    src: local('Montserrat'), url('./fonts/Montserrat-LightItalic.woff') format('woff');
}

/* Montserrat Regular */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat'), url('./fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: local('Montserrat'), url('./fonts/Montserrat-Italic.woff') format('woff');
}

/* Montserrat Medium */
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    src: local('Montserrat'), url("./fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: italic;
    src: local('Montserrat'), url("./fonts/Montserrat-MediumItalic.woff") format("woff");
}

/* Montserrat SemiBold */
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: italic;
    src: local('Montserrat'), url("./fonts/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    src: local('Montserrat'), url("./fonts/Montserrat-SemiBoldItalic.woff") format("woff");
}
    
/* Montserrat Bold */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat'), url('./fonts/Montserrat-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    src: local('Montserrat'), url('./fonts/Montserrat-BoldItalic.woff') format('woff');
}

/* Montserrat ExtraBold */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: local('Montserrat'), url('./fonts/Montserrat-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 800;
    src: local('Montserrat'), url('./fonts/Montserrat-ExtraBoldItalic.woff') format('woff');
}

/* Montserrat Black */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: local('Montserrat'), url('./fonts/Montserrat-Black.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 900;
    src: local('Montserrat'), url('./fonts/Montserrat-BlackItalic.woff') format('woff');
}